*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}

.container{
    width: 70%;
    height: 70%;
    background-color: beige;
    position: relative;
}

.cursor{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
    /* top: 50px;
    left: 50px; */
}
