@font-face {
    font-family: Bold;
    src: url(./assets/Boldonse.woff2);
}

@font-face {
    font-family: Interdisplay;
    src: url(./assets/6975997af12e55efd0c8f1a8_InterDisplay-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Interdisplay;
}
html,body{
    height: 100%;
    width: 100%;
    margin: auto;
    max-width: 1400px;
}

/* CTA Global */

.cta{
    display: flex;
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.7px;
    font-size: 14px;
    cursor: pointer;
}

.button-text{
    border: 1px solid #ededed;
    padding: 15px 20px;
}

.button-arrow {
    font-size: 15px;
    font-weight: 100;
    color: #ffffff;
    background-color: #de6040;
    padding: 15px;
    text-decoration: none;
    /* border: 1px solid #de6040; */
    overflow: hidden;
}
.button-arrow i {
    display: inline-block;
    transition: transform 0.3s ease;
}

.cta:hover .button-arrow i {
    transform: rotate(-45deg);
}



/* Nav Bar */

nav {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.container{
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    gap: 60px;
}


.menu li{
    list-style-type: none;
}

.menu a{
    text-decoration: none;
    color: #000000;
}


/* Hero Section */

.hero-section{
    padding-top: 80px;
    padding-bottom: 50px;
}

.hero-content-wrapper{
    display: flex;
    gap: 150px;
    margin-top: 10px;
}

.hero-wrapper h1{
    font-size: 150px;
    font-family: Bold;
    font-weight: 400;
    color: #212121;
}

.hero-right{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* Project Section */

.project-wrapper{
    padding-top: 80px;
    padding-bottom: 50px;
}
.heading-wrapper h2{
    font-size: 70px;
    font-weight: 400;
    color: #212121;
    font-family: Bold;
}
.heading-wrapper{
    padding-bottom: 30px;
}

.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
}

.category{
    padding: 10px;
    background-color: #ffffff;
}
.project-name h4{
    font-size: 25px;
    font-family: Bold;
    color: #212121;
    font-weight: 500;
}

.project-image img{
    width: 100%;
}

.project-image {
    position: relative;
    padding-bottom: 45px;
}

.project-category {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

