*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
.navbar{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: antiquewhite;

}
.menu{
    display: flex;
    gap: 20px;
}

.navbar.hide{
    transform: translateY(-100%);
}