*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    /* background-color: rgb(158, 158, 158); */
    padding: 10px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.product-card{
    width: 350px;
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(209, 209, 209);
    padding: 15px;
    border-radius: 10px;
    height: auto;
}

.product-card:hover{
    transform: translateY(-5px);
    transition: all ease-in 0.2s;
    box-shadow:  2px 2px 10px rgb(243, 243, 243);
}

.image-wrapper img{
    width: 100%;
    padding-bottom: 20px;
}

.product-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.brand{
    font-size: 12px;
    color: rgb(62, 62, 62);
    margin-bottom: -5px;
}
.product-name{
    font-size: 18px;
}
.price{
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.colors{
    display: flex;
}
.colors div{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: -6px;
    margin-bottom: 10px;
}
button{
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    background-color: black;
}
button:hover{
    padding: 8px 20px;
    border-radius: 50px;
    border: 1px solid #000000;
    color: #000000;
    background-color:  rgb(249, 249, 249);;
    transition: all ease-in 0.2s;
}