*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  background: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ipod {
  width: 300px;
  height: 500px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  padding: 15px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.screen {
  height: 150px;
  background: #cfd8dc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen h3 {
  margin: 0;
}

.controller {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #f5f5f5;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.controller button {
  position: absolute;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#play {
  font-size: 30px;
}

#prev {
  left: 20px;
}

#next {
  right: 20px;
}
.progress-container {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.progress {
  height: 100%;
  width: 0%;
  background: #72ac51;
  border-radius: 10px;
}