@font-face {
    font-family: inter;
    src: url(../../Test-2/Inter-VariableFont_opsz\,wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
    font-weight: 600;
}
html body{
    width: 100%;
    height: 100%;
    padding: 15px;
}

.main{
    height: 100%;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 10% 45% 25% ;
    grid-template-areas: "nav nav nav"
    "card1 card2 card3"
    "card4 card5 card5"
    "card4 card6 card7"
    ;
}
.nav{
    height: 100%;
    width: 100%;
    background-color: aqua;
    grid-area: nav;
}
.card1{
    height: 100%;
    width: 100%;
    background-color: gray;
    grid-area: card1;
}
.card2{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    grid-area: card2;
}
.card3{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    grid-area: card3;
}
.card4{
    height: 100%;
    width: 100%;
    background-color: violet;
    grid-area: card4;
}
.card5{
    height: 100%;
    width: 100%;
    background-color: black;
    grid-area: card5;
}
.card6{
    height: 100%;
    width: 100%;
    background-color: blue;
    grid-area: card6;
}
.card7{
    height: 100%;
    width: 100%;
    background-color: red;
    grid-area: card7;
}
.nav{
    /* height: 55px; */
    display: flex;
    font-size: 14px;
    grid-area: nav;
}
.home{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: double;
    border-radius: 50px;
    padding: 3px;
}
.home h3{
    padding-left: 17px;
}
i{
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 50px;
}
.nav-center{
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    border-style: double;
    padding: 1px;
    border-radius: 50px;
}
.features{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 3px;

}
.h3180{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px ;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50px;
}
.features h3{
    padding-left: 17px;
}
.dashboard{
     height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 3px;
}
.dashboard h3{
    padding-left: 17px;
}
.active{
     height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px ;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50px;
}
.menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: double;
    border-radius: 50px;
    padding: 3px;
}
.menu h3{
    padding-left: 17px;
}

.card-1{
    background-image: url(./sssss-1024x1024.webp);
    padding: 20px;
    background-position: center;
    background-size: cover;
    background-color: #000000;
    color: #ffffff;
    grid-area: card-1;
}
.card-2{
    grid-area: card-2;
}
.card-3{
    grid-area: card-3;
}
.card-4{
    grid-area: card-4;
}
.card-5{
    grid-area: card-5;
}
.card-6{
    grid-area: card-6;
}
.card-7{
    grid-area: card-7;
}