.btn {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  padding: 8px 28px;
}

.btn:hover {
  background-color: green;
}

p{
    font-size: 50px;
}