*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}

.piano {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
h2{
    text-align: center;
    padding-top: 50px;
}

.key {
    width: 70px;
    height: 250px;
    margin: 2px;
    background: white;
    border: 2px solid #000;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;
}

.key.active{
    background-color: #72ac51;
}

.key:hover{
    background-color: #72ac51;
}